<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Taco</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>

    <style>
        img {
            width: 500px;
        }
    </style>
</head>
<body>
<form method="POST" th:action="@{/orders}" th:object="${tacoOrder}">
    <h1>Order your taco creations!</h1>
    <h2 th:if="${#fields.hasErrors()}">Please correct the following errors:</h2>


    <img th:src="@{/images/mainLogo.png}">

    <h3>Your tacos in this order:</h3>
    <a id="another" th:href="@{/design}">Design another taco</a><br/>
    <ul>
        <li th:each="taco : ${tacoOrder.tacos}">
            <span th:text="${taco.name}">taco name</span></li>
    </ul>

    <h3>Deliver my taco masterpieces to...</h3> <label for="deliveryName">Name: </label>
    <input th:field="*{deliveryName}" type="text"/>
    <span class="validationError" th:errors="*{deliveryName}" th:if="${#fields.hasErrors('deliveryName')}">
            Delivery Name
        </span>
    <br/>


    <label for="deliveryStreet">Street address: </label>
    <input th:field="*{deliveryStreet}" type="text"/>
    <span class="validationError" th:errors="*{deliveryStreet}" th:if="${#fields.hasErrors('deliveryStreet')}">
            Delivery Street Error
        </span>
    <br/>


    <label for="deliveryCity">City: </label>
    <input th:field="*{deliveryCity}" type="text"/>
    <span class="validationError" th:errors="*{deliveryCity}" th:if="${#fields.hasErrors('deliveryCity')}">
            Delivery City Error
        </span>
    <br/>

    <label for="deliveryState">State: </label>
    <input th:field="*{deliveryState}" type="text"/>
    <span class="validationError" th:errors="*{deliveryState}" th:if="${#fields.hasErrors('deliveryState')}">
            Delivery State Error
        </span>
    <br/>

    <label for="deliveryZip">Zip code: </label>
    <input th:field="*{deliveryZip}" type="text"/>
    <span class="validationError" th:errors="*{deliveryZip}" th:if="${#fields.hasErrors('deliveryZip')}">
            Delivery Zip Error
        </span>
    <br/>


    <h3>Here’s how I’ll pay...</h3>
    <label for="ccNumber">Credit Card #: </label>
    <input th:field="*{ccNumber}" type="text"/>
    <span class="validationError" th:errors="*{ccNumber}" th:if="${#fields.hasErrors('ccNumber')}">
        CC Num Error
    </span>
    <br>


    <label for="ccExpiration">Expiration: </label>
    <input th:field="*{ccExpiration}" type="text"/>
    <span class="validationError" th:errors="*{ccExpiration}" th:if="${#fields.hasErrors('ccExpiration')}">
            CC Expiration Error
        </span>
    <br/>

    <label for="ccCVV">CVV: </label>
    <input th:field="*{ccCVV}" type="text"/>
    <span class="validationError" th:errors="*{ccCVV}" th:if="${#fields.hasErrors('ccCVV')}">
                ccCVV Error
    </span>
    <br>


    <input type="submit" value="Submit Order"/>

</form>
</body>
</html>